{% extends 'layout.html' %}
{% set pageId = 'page-search-results' %}
{% block title %}
  <title>Resultado da Pesquisa</title>
{% endblock title %}
{% block styles %}
  <link rel="stylesheet" href="/styles/search-results.css">
  <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}
{% block content %}

  <header>
    <img src="/assets/logo.svg" alt="Logo Ecoleta">

    <a href="/create">
      <span></span>
      Criar novo Post
    </a>
  </header>
  <main>
    {% if total > 0 %}
      <div class="cards">
        <div class="card">
          {% for post in colunm.colunm1 %}
            <img class="remove" data-id="{{post.id}}" data-name="{{post.name}}" data-key="/{{post.key}}" src="/{{post.key}}" alt="{{post.name}}">
          {% endfor %}
        </div>
        <div class="card">
          {% for post in colunm.colunm2 %}
            <img class="remove" data-id="{{post.id}}" data-name="{{post.name}}" data-key="/{{post.key}}" src="/{{post.key}}" alt="{{post.name}}">
          {% endfor %}
        </div>
      </div>
      {%else%}
      <h4>
        <strong>Nenhum</strong>
        post encontrado
      </h4>
    {% endif %}
  </main>
{% endblock content %}
{% block scripts %}
  <script src="/scripts/post.js"></script>
{% endblock scripts %}
{% block modal %}
  {% include './partials/modal.html' %}
{% endblock modal %}